.navigation {
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	font-size: 1.5rem;
	.navItems {
		display: flex;
		column-gap: 20px;
		.navItem {
			transition: all 0.3s ease 0s;
			&:hover {
				color: var(--button-color);
			}
		}
	}
}
