.header {
	&Container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		padding: 10px;
		.logo {
		}
		.search {
			.searchInput {
			}
		}
		.user {
			display: flex;
			.userAvatar {
				.profilePhoto {
				}
			}
			.userInfo {
				.userName {
				}
			}
		}
	}
}
.profilePhoto {
	width: 30px;
	height: 30px;
}
